{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Login</title>

    <link
        rel="stylesheet"
        href="{% static 'css/login.css' %}"
    >

</head>

<body>

<div class="login-container">

    <h2>Login</h2>


    <form
        method="POST"
        action="{% url 'login' %}"
    >

        {% csrf_token %}


        <!-- EMAIL -->

        <label for="email">
            Email:
        </label>

        <div>

            <input
                type="email"
                id="email"
                name="email"
                placeholder="Email"
                value="{{ data.email|default:'' }}"
                required
            >

            {% if errors.email %}
                <small class="error-message">
                    {{ errors.email.0 }}
                </small>
            {% endif %}

        </div>


        <!-- PASSWORD -->

        <label for="password">
            Password:
        </label>

        <div>

            <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                required
            >

            {% if errors.password %}
                <small class="error-message">
                    {{ errors.password.0 }}
                </small>
            {% endif %}

        </div>


        <!-- LOGIN ERROR -->

        {% if error %}

            <small class="error-message">
                {{ error }}
            </small>

        {% endif %}


        <!-- LOGIN BUTTON -->

        <button
            type="submit"
            class="login-btn"
        >
            Login
        </button>


    </form>


    <br>


    <!-- SIGNUP -->

    <div class="signup-link">

        Don't have an account?

        <a href="{% url 'signup' %}">
            Signup
        </a>

    </div>


</div>

</body>

</html>